@charset "utf-8";

.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}




/* CSS Document */

body{
    /* background-image: url(../img/bg.png); */
    /* background-size: 20px; */
    /* background-repeat: repeat; */
}

.body{
    background-image: url(../img/bg.png);
    background-size: 20px;
    background-repeat: repeat;
        font-family: "MS Gothic","MS ゴシック";
}



.wrapper{
    margin: 0px auto;
    width: 1200px;
    padding:30px 0;
    /* border: 1px solid #000; */
}
footer{
    font-family: 0 Gothic","MS ゴシック";
    font-size: 14px;
    text-align: center;
}



a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:#000;
}

.marquee h1{
       font-family: "MS Gothic","MS ゴシック";
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(10deg, #1bad07 30%, #fdee00 50%, #fd0000 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter:drop-shadow(1px 1px 0px black);
}

.count{
    margin: 0 auto;
    text-align: center;
}
.count p{
    text-align: center;
}

.ultop{
    margin:20px 0 0 0;
    display: flex;
    justify-content: center;
    gap:25px;
    /* border: 1px solid #000; */
}



li{
    /* border: 5px solid #db1e1e; */
    padding:4px 17px 8px 15px ;
        list-style:none;
    font-size: 36px;
    font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
    font-weight: 900;
    font-style: italic;
    a{display: block;
      height: 100%;}
}
li p{
        /* color: #db1e1e; */
    font-size: 36px;
    /* font-family: "HGP創英角ﾎﾟｯﾌﾟ体"; */
    font-weight: 900;
    font-style: italic;
}
.li01{
    background-color: aqua;
    color: #a7a043;
    p{filter:drop-shadow(1px 1px 0px black);}
    a:link,a:hover,a:visited,a:active{color: #a7a043;
    filter:drop-shadow(1px 1px 0px black);}
}
.li02{
    background-color: #ff59f7;
    p{
          background: linear-gradient(180deg, #58c6ff 0%, #076ad9 40%, #ff0000 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
     a:link,a:hover,a:visited,a:active{
          background: linear-gradient(180deg, #58c6ff 0%, #076ad9 40%, #ff0000 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
}
.nazo{
    width:20px;
    height:20px;
    background-color: #d8d8d8;
    border: 5px solid #006f0f;
    margin:50px 0 0 0;
}
.li03{
    background-color: #67ffbf;
    border: 5px solid #d3b65f;
a:link,a:hover,a:visited,a:active{}
}

.li04{
    background-color: #ffff00;
    border: 2px dotted #000;
}
.li05{
    border: 1px solid #000;
    background-image: url(../img/bg02.jpg);
    background-size: 45px;
    /* width: fit-content; */
}
.li06{
    background-image: url(../img/bg03.jpg);
    background-size: 45px;
}
.li07{
    background-color: #15b200;
    background-size: 45px;
    border: 5px groove #b24ef9;
}
.li08{
    background-color: #a2fffd;
    background-size: 45px;
    border: 5px double #fbff00;
}
.moomin{
    /* border: 1px solid #000; */
    display: flex;
    margin: -265px 0 0 -70px;
        width: auto;
        height: fit-content;
        /* border: 1px solid #000; */
    img{
        transform: rotate(-1deg);
        /* border: 1px solid #000; */
    }
}
.phako{
        width:400px;
        margin:40px 0 0 800px;
        font-family: "MS Gothic","MS ゴシック";
        font-size: 20px;
        color:#ff0000;
        /* border: 1px solid #000; */
          animation: gatagata .3s infinite;
        scale: 1;
        pointer-events: none;
}

@keyframes gatagata{
 0%{transform:translateY(0)}
 25%{transform:translate(0px, 2px) rotateZ(1deg)}
 50%{transform:translate(0px, 2px) rotateZ(0deg)}
 75%{transform:translate(2px, 2px) rotateZ(-1deg)}
 100%{transform:translate(0px, 0px) rotateZ(0deg)}
}


.rikaioya{
    width:200px;
    height: 150px;
    margin: 5px 0 0 -40px;
    border:  solid #000;
    border-radius: 5px;
    font-size: 36px;
    padding:0 0 0 20px;
    /* Animation property */
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


.rikai{
    width:230px;
    font-family: "MS Gothic","MS ゴシック";
    font-family: "Mochiy Pop One", sans-serif;
}
.rikaip{
     font-family: "Mochiy Pop One", sans-serif;
}

.solt{
    font-family: "MS Gothic","MS ゴシック";
    font-weight: 800;
    width:230px;
    border: 8px double #6d6d6d;
    margin:-130px 0 0 1000px;
    background-color: #ffb0cb;
    p{
    font-family: "MS Gothic","MS ゴシック";
    }
}

.kocho{
    margin: -220px 0 0 150px;
}
.watashi{
    margin:20px 0 0 35px;
    color:#f7ff0f;
    font-family: "MS Gothic","MS ゴシック";
}
.kochop{
        font-weight: 800;
        font-size: 30px;
        color: #db0000;
        margin:-330px 0 0 80px;
}
.kochopic{
    background-image: url(../img/fire.jpg);
    background-repeat: round;
}
.meiyo{
    margin:-40px 0 0 300px;
    color:#f7ff0f;
    font-family: "MS Gothic","MS ゴシック";
    border: 5px solid #00ce22;
}
.meiyop{
            font-weight: 800;
        font-size: 30px;
        color: #db0000;
        margin:-290px 0 0 350px;
}
.nekop{
        margin:20px 0 0 335px;
    color:#f7ff0f;
    font-family: "MS Gothic","MS ゴシック";
    bd
}

.kakugen{
    margin:-150px 0 0 770px;
    width:auto;
    height:400px;
    /* border: 1px solid #000; */
    background-image: url(../img/kakugen.jpg);
    background-size:cover;
    width:200px;
}
.tate{
writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
    font-family: "MS Gothic","MS ゴシック";
    font-size: 20px;
    margin: 10px 0 0 80px;
}

.nendo{
    width:200px;
    height:220px;
    background-image: url(../img/nendo.png);
    background-size:contain;
    /* margin: -200px 0 0 -50px; */
}



.koukabox{
    display: flex;
    width:1000px;
    margin: 0 auto;
}
.kouka{
    font-family: "MS Gothic","MS ゴシック";
    margin:20px auto;
    width: 50%;
    height: 500px;
    border: 10px double #3b3b3b;
    background-image: url(../img/space.jpg);
    background-size: 10%;
    background-repeat: repeat;
    padding: 5px ;
    h1{
        margin:0px 0 0 0 ;
        font-size:28px;
    }
    p{    font-family: "MS Gothic","MS ゴシック";
        font-size:18px;
        /* border: 1px solid #000; */
    }
}
.omoi{
    font-family: "MS Gothic","MS ゴシック";
    color: #37ff58;
    font-size: 18px;
    text-shadow:1px 1px #000;
    margin:20px auto;
    width: 50%;
    height: 500px;
    border: 10px double #3b3b3b;
    background-image: url(../img/space.jpg);
    background-size: 10%;
    background-repeat: repeat;
    padding: 5px ;
    p{
            font-family: "MS Gothic","MS ゴシック";
    }
}


/*********************** ここからプロフィールページ */

.box01{
    display: flex;
    width: 800px;
    margin: 50px auto 20px auto;
}

.pic{
    width: 50%;
    border: 4px double #6a6a6a;;
    img{
        width: calc(100%);
    }
}
.text{
    font-family: "MS Gothic","MS ゴシック";
    width: 50%;
    border: 4px double #6a6a6a;
    padding:5px;
    h1{
        font-size: 24px;
    }
}

.rekisi{
    border: 5px solid #a69000;
    width:fit-content;
    background-color: #fff7c6;
    padding:10px;
    margin: 0 auto;
    h2{
    font-family: "MS Gothic","MS ゴシック";
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(10deg, #1bad07 30%, #fdee00 50%, #fd0000 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter:drop-shadow(1px 1px 0px black);}
}

.history{
        /* font-family: "MS Gothic","MS ゴシック"; */
    border: 1px solid #000;
    margin: 0 auto;
    /* padding: 10px; */
    width:fit-content;
    background-image: url(../img/bg.png);
    background-size: 50%;
}

.tophe{
    text-align: center;
    a:visited{color: #670087;}
}

/* *************************ここから年間行事ページ */
p{
    font-family: "Noto Sans JP";
    font-weight: 300;
}

/* header{ 
    border-bottom:40px solid #003169 ;
    padding:30px 0 20px 50px;
}*/
.headerevent{
    border-bottom:40px solid #003169 ;
    /* border: 1px solid #000; */
    padding:30px 0 20px 50px;
}


.eventnav{
        font-family: "Noto Serif JP";
    margin: -30px 0 0 1000px;
    display: flex;
    gap: 40px;
      padding-bottom: 3px; /* テキストと下線の間隔 */
  a{
    /* color:red; */
          padding-bottom: 3px; /* テキストと下線の間隔 */
  /* font-size: 60px; */
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
  }
  a:visited{
    /* color:blue; */
  }
  a:hover{
    color: #565656;
      background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 1px; /* 下線の横幅を100%にする */
  }
}
.footer{
    background-color: #003169;
    height:50px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 15px 0 0 0;
    p{
        text-align: center;
    }
}

.event{
    width:80%;
    margin:20px auto 100px auto;
    /* border: 5px solid #ffcdcd; */
}
.eventmidashi{
    width: fit-content;
    font-family: "Noto Serif JP";
    font-size: 24px;
    margin:0 auto 70px auto ;
    /* text-align: center; */
    /* border-bottom: 2px solid #003169 ; */
    /* border: 1px solid #000; */
}
.eventbox{
    display: flex;
    padding:0 0 0 100px;
    margin: 0 0 50px 0;
}

.event01{
    width:15%;
    /* border: 1px solid #000; */
    border-right: 1px solid #aeaeae;
    /* border: 1px solid #000; */
    p{
        text-align: center;
        font-size: 18px;
        color: #ffffff;
        margin: -61px -60px 0 0;
    }
    .maru{
    font-size: 70px;
    margin: -40px -60px 0 0px;
    color: #003169;
}
}

.event02{
    width:50%;
    padding:0 0 0 40px;
    line-height: 200%;
    /* border: 1px solid #000; */
}

.event03{
    width:35%;
    /* border: 1px solid #000; */
}

html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: #fff;
    border: solid 2px #003169;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #003169;
    border-right: 3px solid #003169;
    transform: translateY(20%) rotate(-45deg);
}
@media (hover: hover) and (pointer: fine) {
    .pagetop:hover, .pagetop:hover .pagetop__arrow {
        background: #003169;
        border-color: #ffffff;
    }
}

/* *********************ここからinfo *************************************** */
.rochester-regular {
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-style: normal;
}
.headerinfo{
    display: flex;
}
.infonav{
    /* border: 1px solid #000; */
    height:50px;
    display: flex;
    gap:50px;
    font-family: "Noto Serif JP";
    color: #574e00;
    padding: 30px 0 0 1000px;
    background-color: rgba(255, 255, 255,0.3);
    width: 100%;
    height: 90px;
    a{  
        height: fit-content;
        /* border: 1px solid #000; */
        background-image: linear-gradient(#574e00, #574e00);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;}
    a:link{  font-family: "Noto Serif JP"; color: #574e00;}
    a:visited{  font-family: "Noto Serif JP"; color: #574e00;}
    a:hover{  font-family: "Noto Serif JP"; color: #574e00; opacity: 0.8;
              background-position: bottom left; /* 下線のホバー時位置 */
              background-size: 100% 1px; /* 下線の横幅を100%にする */}
    a:active{  font-family: "Noto Serif JP"; color:#574e00;}
}


.logocolor{
    /* border: 1px solid #000; */
    margin:-80px 0 50px 0;
    text-align: center;
    
}

.footerinfo{
    color: #574e00;
    font-size: 12px;
    padding: 0 0 20px 0;
    p{text-align: center;}
}
.wrapper3 {
  background-image: linear-gradient(65deg, #fff1eb, #ffc5e1 57%, #ade4f9);
  margin: 0 auto;
  background-attachment: fixed;
  overflow: hidden;
}

.title01{
    /* border: 1px solid #44ff2f; */
    overflow: hidden;
p{
    /* border: 1px solid #df0000; */
    font-family: "Noto Serif JP";
    color:#574e00;
    text-align: center;
    margin:-160px 0 100px 0;
}

    .title_h1{
        /* border: 1px solid #0800ff; */
    font-size: 60px;
    font-family: Rochester;
    color:#574e00 ;
    text-align: center;
    overflow: hidden;
    /* margin: 30px 0 0 0 ;} */
}
.frame01{
    /* border: 1px solid #000; */
    margin: -55px 0 0 -440px;
    padding: 0 0 100px 0;
}
.frame02{
    /* border: 1px solid #000; */
    margin: -210px 0 0 400px;
    padding: 0 0 100px 0;
}
}




.testbox{
    /* height:1000px; */
}

.infobox01{
    width: 1000px;
    margin:50px auto 100px auto;
    border: 3px solid #574e00;
    border-radius: 50%;
    height: auto;
    background-color: rgba(255, 255, 255,0.5);
    /* opacity: 0.5; */
      opacity: 0; /* 最初は非表示 */
  transform: translateX(-30px); /* 左に-30pxの位置から */
  transition: opacity .8s, transform .8s; /* 透過率と縦方向の移動を0.8秒 */
.h201{
        font-family: "Noto Serif JP";
        text-align: center;
        margin: -200px auto 15px auto;
    font-size: 24px;
    color: #574e00;
    /* border: 1px solid #000; */
}
p{width:700px;
    /* border: 1px solid #000; */
    /* text-align: center; */
    margin: 0px auto 0 auto;
    text-align: center;
    color: #574e00;
    line-height: 1.8;}
}
.infobox01.is-inview {
  opacity: 1; /* 表示領域に入ったら表示 */
  transform: translateX(0px); /* 0px右に移動する */
  transition-delay: 0.2s; /* フェード開始を秒遅らせる */
}
.flower01{
    margin: -20px 0 0 780px;
    transform: rotate(15deg);   
}
.flower02{
    margin:0 0 0 80px ; 
 }
.flower03{
    margin:0 0 0 800px ; 
 }
.flower04{
    margin:0 0 0 80px ; 
 }


.text01{
    /* border: 1px solid #000; */
    padding:0 0 60px 0;
}
.text02{
    /* border: 1px solid #000; */
    padding:0 0 80px 0;
}
.h202{
        font-family: "Noto Serif JP";
        text-align: center;
        margin: -180px auto 15px auto;
    font-size: 24px;
    color: #574e00;
    /* border: 1px solid #000; */
}
.h203{
        font-family: "Noto Serif JP";
        text-align: center;
        margin: -150px auto 15px auto;
    font-size: 24px;
    color: #574e00;
    /* border: 1px solid #000; */
}
.h204{
        font-family: "Noto Serif JP";
        text-align: center;
        margin: -150px auto 15px auto;
    font-size: 24px;
    color: #574e00;
    /* border: 1px solid #000; */
}





.text03{
    /* border: 1px solid #000; */
    padding:20px 0 80px 0;
}
.text04{
    /* border: 1px solid #000; */
    padding:20px 0 80px 0;
}
.pagetop2 {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: #fff;
    border: solid 2px #aee5ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow2 {
    height: 10px;
    width: 10px;
    border-top: 3px solid #ff9fcc;
    border-right: 3px solid #ff9fcc;
    transform: translateY(20%) rotate(-45deg);
}
@media (hover: hover) and (pointer: fine) {
    .pagetop2:hover, .pagetop2:hover .pagetop__arrow2 {
        background: #ffd1e6;
        border-color: #ffffff;
    }
}

/* *********************ここから卒業生の声****************** */
.wrapperob{
    width: 100%;
    background-color: #f8f8f8;
    /* background-color: #00ce22; */
    color: #3b3b3b;
    overflow: hidden;
}

.headerob{
    height:110px;
    width: auto;
    /* border: 1px solid #000; */
    border-bottom: 40px solid #ffe13a ;
    margin:0 0 30px 0;
    padding: 15px 0 0 1040px;
    display: flex;
    /* background-color: #1bad07; */
}

.testob{
    height:1000px;
        /* border: 1px solid #000; */
}


.navob{
    background-color: #3b3b3b;
    width: fit-content;
    height: fit-content;
    padding:8px;
    border-radius: 25px;

    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
/* padding: 6px 40px; */
        ul{display: flex;}
}

.navob li{
    font-family:"Noto Sans JP" ;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color:#f8f8f8;
    a,a:link{color:#f8f8f8;}
      a{
    /* color:red; */
          padding-bottom: 3px; /* テキストと下線の間隔 */
  /* font-size: 60px; */
  background-image: linear-gradient(#ffe13a, #ffe13a);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
  }
  a:visited{
    /* color:blue; */
  }
  a:hover{
    color: #ffe13a;
      background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 1px; /* 下線の横幅を100%にする */
  }
}

.h1ob{
    text-align: center;
    font-size: 48px;
    font-family: "Outfit";
    font-weight: 600;
    color: #3b3b3b;}
.h2ob{
    text-align: center;
    font-size: 16px;
    /* font-weight: 600; */
    color: #3b3b3b;
    margin: -10px 0 50px 0;
    padding: 0 0 10px 0 ;
    /* border-bottom: 20px solid #ffe13a; */
}


.voicebox{
    display: flex;
    margin:0 0 150px 0;
}

.voicetext{
    width:810px;
    height:300px;
    background-color: #ffe13a;
    margin: 0 0 0 -55px;
    transform:skew(-20deg,0);
    padding: 25px 0 0 0;

        .voicetitle{
                transform:skewX(20deg);
                font-size: 48px;
                font-weight: 800;
                color: #ffffff;
                margin: 0 0px 0 100px;

        }
        .name{
            transform:skewX(20deg);
            margin: 20px 0 0 125px;
            color: #3b3b3b;
            font-weight: 500;

        }
        .honbun{
            transform:skewX(20deg);
            width:500px;
            margin: 20px 0 0 150px;
            color: #3b3b3b;
            /* border: 1px solid #000; */

        }
}

.voicepic{
    /* background-image: url(../img/voice01.jpg); */
    /* background-size: 200%; */
    /* background-color: #000; */
    /* border: 1px solid #000; */
    width: 800px;
    height: 300px;
    margin: 0 0 0 40px;
    overflow: hidden;
    transform:skewX(-20deg);
        img{transform:skewX(20deg) scale(1.2);}
}
.u-fade-type-up-right{
    transform: translateX(80px);
    opacity: 0;
    overflow: hidden;
    
}
.u-fade-type-up-right.is-active{
    transition: 1s;
    transform: translateX(0);
    opacity: 1;
    overflow: hidden;
    /* border: 3px solid #be0707; */
    padding: 0 0 0 20px;
    margin: 0 0 0 -20px;
}


.voicepic02{
    width:810px;
    height:300px;
    background-color: #ffe13a;
    margin: 0 0 0 -100px;
    transform:skew(-20deg,0);
    padding: 0 0 0 0;
    overflow: hidden;
            img{transform:skewX(20deg) ;
               /* object-fit: cover;} */
            object-position: 0%  20%;}
}
/* アニメーションスタイル */
/* ---------------------------- */

/* アニメーション前 */
.u-fade-type-up{
    transform: translateX(-80px);
    opacity: 0;
}

/* トリガー発火でis-activeを付与 */
.u-fade-type-up.is-active{
    transition: 1s;
    transform: translateX(0);
    opacity: 1;
    /* border: 3px solid #0aba25; */
}


.voicetext02,.voicetext12{
        background-color: #ffe13a;
    margin: 0 0 0 40px;
    transform:skew(-20deg,0);
    padding: 25px 0 0 0;
    width: 900px;
    height: 300px;
       .voicetitle{
                transform:skewX(20deg);
                font-size: 48px;
                font-weight: 800;
                color: #ffffff;
                margin: 0 0 0 80px;

        }
        .name{
            transform:skewX(20deg);
            margin: 20px 0 0 110px;
            color: #3b3b3b;
            font-weight: 500;

        }
        .honbun{
            transform:skewX(20deg);
            width:500px;
            margin: 20px 0 0 136px;
            color: #3b3b3b;
            /* border: 1px solid #000; */

        }
}
.voicetext12{
    margin: 0 0 0 -120px;
    padding: 25px 0 0 100px;
}

.voicepic{
    /* background-image: url(../img/voice01.jpg); */
    /* background-size: 200%; */
    /* background-color: #000; */
    /* border: 1px solid #000; */
    width: 800px;
    height: 300px;
    margin: 0 0 0 40px;
    overflow: hidden;
    transform:skewX(-20deg);
        img{transform:skewX(20deg) scale(1.2);}
}
.voicepic04{
    width:810px;
    height:300px;
    background-color: #ffe13a;
    margin: 0 0 0 -100px;
    transform:skew(-20deg,0);
    padding: 0 0 0 110px;
    overflow: hidden;
            img{transform:skewX(20deg) ;
               /* object-fit: cover;} */
            object-position: 0%  20%;}
}

.pagetop3 {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: #3b3b3b;
    border: solid 2px #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow3 {
    height: 10px;
    width: 10px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transform: translateY(20%) rotate(-45deg);
}@media (hover: hover) and (pointer: fine) {
    .pagetop3:hover, .pagetop3:hover .pagetop__arrow3 {
        background: #ffffff;
        border-color: #3b3b3b;
    }
}

.career{
    width:600px;
    height: ;
    border: 1px solid #000;
    margin: 0  auto;
}

.h2ca{
    font-family: "Noto Serif JP";
    font-size: 32px;
    text-align: center;
    margin: 0 0 20px 0;
}




/* ***********ここから進路のタブ */
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid #ff5d78; */
    margin: 0 auto 50px auto;
    width: 800px;
    /* background-color: #ffe13a; */
}
.tab-label01,.tab-label02,.tab-label03,.tab-label04 {
    color: White;
    background: #c3c3c3;
    /* margin:0 5px 0 260px ; */
    margin: 0 5px 0 0px;
    padding: 5px 5px;
    text-align: center;
    width: 130px;
    order: -1;
    /* border: 1px solid #000; */
}
.tab-label02 {
    color: White;
    background: #c3c3c3;
    /* margin:0 5px 0 260px ; */k
    margin: 0 5px 0 0px;
    padding: 5px 5px;
    text-align: center;
    width: 130px;
    order: -1;
    /* border: 1px solid #000; */
}


.tab-content {
    width: 100%;
    height: ;
    /* border: 1px solid #000; */
    display: none;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label01,.tab-switch:checked+.tab-label02,.tab-switch:checked+.tab-label03,.tab-switch:checked+.tab-label04 {
    background: #ffe13a;
    /* margin:0 5px 0 260px ; */
    /* border: 1px solid #000; */
}
.tab-switch:checked+.tab-label01+.tab-content,
.tab-switch:checked+.tab-label02+.tab-content,
.tab-switch:checked+.tab-label03+.tab-content,
.tab-switch:checked+.tab-label04+.tab-content {
     display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}
/* **************進路のタブここまで */

.data2024,.data2023,.data2022,.data2021{
    width:800px;
    height: 80vh;
    /* border: 1px solid #00af32; */
    margin:  ;
    background-color: #ffe13a;
    .tbbox{
        display: flex;
        /* border: 1px solid #ad0000; */
        width: fit-content;
        height:500px;
        margin: 0 auto;
        padding: 50px 0 0 0 ;
    }
    table{
        background-color: #fff;
        margin: 0 5px 0 0 ;
        font-size: 14px;
        height: fit-content;
    }
    table:last-child{margin:0}
    th{
        font-weight: normal;
        padding: 10px;
        border-right:1px solid #c3c3c3 ;
        /* background-color: #dddddd; */
        background-color:#d4d4d4;
    }
    td{
        padding: 10px;
        border-bottom: 1px solid #c3c3c3;
    }
    td:last-child{
        border-left: 1px solid #c3c3c3;
    }
}

.notes{
    font-size:12px;
    width: 556px;
    /* border: 1px solid #f00000; */
    margin: 0px  auto ;
}
.notes01,.notes02{
    display: flex;
    justify-content: flex-end;
}

.footerob{
    height:50px;
    color: #3b3b3b;
    font-size: 12px;
    text-align: center;
    padding: 15px 0 0 0;
    p{
        text-align: center;
    }
}